/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

@keyframes change-color{
    0% {background-color: blue};
    20% {background-color: purple};
    40% {background-color: green};
    60% {background-color: yellow};
    80% {background-color: orange};
    100% {background-color: red};
}

header{
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    vertical-align: top;
    margin: 35px 0px 35px 0px;
}

header nav a{
    margin-right: 65px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
    animation-name: change-color;
    animation-duration: 10s;
}

header nav a:first-child{
    margin-left: 0px;
}

header nav a:last-child{
    margin-right: 0px;
}

header .logo{
    margin: 25px 0px 50px 0px;
}

.top-content{
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    margin: 30px;
}

.middle-content .middle-img{
    display: flex;
    justify-content: space-evenly;
}

.middle-content .middle-headings{
    display: flex;
}

.middle-content h2{
    padding: 0 2%;
    margin: 15px 0px 0px 5px;
    width: 383px;
}

.middle-content .big-mid-text-container{
    width: 800px;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    
}

.big-mid-text-container .little-mid-text-container{
    width: 390px;
    height: 100px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
}

button{
    border-radius: 15%;
    background-color: white;
    border: 2px solid black;
    width: 100px;
    margin-bottom: 10px;
}



.bottom-content .bottom-img{
    display: flex;
    justify-content: space-evenly;
}

.bottom-content .bottom-headings{
    display: flex;
}

.bottom-content h2{
    padding: 0 2%;
    margin: 15px 0px 0px 5px;
    width: 383px;
}

.bottom-content .big-bottom-text-container{
    width: 800px;
    height: 100px;
    margin: 20px 2.5%;
    display: flex;
    
}

.big-bottom-text-container .little-bottom-text-container{
    width: 390px;
    height: 100px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dashed black;
}

.afterword{
    margin: 30px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
